@import "../styles/settings";

.emailModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	border-radius: 5px;
	align-items: center;
	transition: all 0.4s ease-in-out;
	z-index: 100;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	&.active {
		visibility: visible;
		opacity: 1;
	}
}
.emailModal__container {
	position: fixed;
	display: flex;
	max-width: 50vw;
	max-height: 60vh;
	background: white;
	background: #1d67c8;
	color: white;
	overflow: hidden;
	.emailModal__info {
		padding: 20px;
		width: 60%;
		.emailModal__logo {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			img {
				padding: 15px 15px 15px 0;
			}
		}
		.emailModal__headline {
			font-weight: 600;
			padding-bottom: 10px;
		}
		.emailModal__details {
			padding-bottom: 20px;
		}
		.emailError {
			margin-bottom: 5px;
			color: yellow;
			display: none;
			transition: all 0.3s ease-in-out;
			opacity: 0;
			&.active {
				display: block;
				opacity: 1;
			}
		}
		.emailModal__formGroup {
			width: 100%;
			background: white;
			display: flex;
			justify-content: space-between;
			padding: 5px;
			&.active {
				border: 2px solid red;
			}

			.emailModal__formGroupEmail {
				height: 35px;
				width: 80%;
				border: none;
				padding-left: 10px;
			}
			.emailModal__formGroupSubmit {
				padding: 5px 25px;
				color: white;
				background: green;
				border: none;
			}
		}
		.decline {
			padding-top: 20px;
			text-decoration: underline;
			opacity: 0.7;
			cursor: pointer;
		}
	}
	.emailModal__sideImg {
		background: url("../img/stop.jpg");
		background-position: bottom;
		background-size: cover;
		width: 40%;
	}
	.thank-you {
		z-index: 100;
		position: absolute;
		background: #1d67c8;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translate3d(100%, 0, 0);
		transition: all 0.6s ease-in-out;
		@include flexContainer(column, center, center) h2 {
			color: white;
			font-size: 3rem;
			padding-bottom: 20px;
			font-weight: 600;
		}
		p {
			font-size: 1.5rem;
			color: white;
		}
		&.active {
			transform: translate3d(0, 0, 0);
		}
	}
}
