@import "../styles/settings";

.nav {
	@include flexContainer(row, space-between, center);
	width: 100%;
	height: 80px;
	background: $black;
	padding: 0 20px;
	z-index: 70;
	p {
	}
	.logo {
		@include flexContainer(row, center, center);
		color: $white;
		p {
			font-family: "Poppins", sans-serif;
			font-weight: 200;
			margin-left: 20px;
		}
	}
	.links {
		@include flexContainer(row, center, center);
		a {
			@include flexContainer(row, center, center);
			@include paddingLR(20, 20);
			color: $white;
			text-decoration: none;
			font-family: $font-family-poppins;
		}
	}
}
