@import "../styles/settings";

//Experience=====================
.experience {
	// @include flexContainer(row, center, center);
	@include push--auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: $max-width;
	padding: 0 1rem;
	margin: 50px auto;
	h2 {
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}
	.experience__summary {
		@include flexContainer(flex, space-evenly, flex-start);
		width: 100%;
		.experience__summaryWorked {
			padding-bottom: 20px;
			text-align: center !important;
			justify-self: center !important;
		}
		.experience__company {
			max-width: 400px;
			margin: 2rem auto;
		}
		a {
			font-weight: 600;
		}
		img {
			width: 80%;
			margin: 0 auto 1rem;
		}
		.experience__summaryExperience {
			padding-bottom: 10px;
		}
		h3 {
			margin: 0.5rem 0;
		}
		p {
			margin: 1rem 0 2rem;
		}
	}
	.experience__skills {
		display: flex;
		justify-content: space-between;
		align-self: space-between;
		width: 100%;
		.experience__skillsGridContainer {
			@include flexContainer(row, flex-start, flex-start);
			flex-wrap: wrap;
		}
		svg {
			font-size: 80px;
			padding: 10px 0;
			transition: color 0.4s ease-in-out;
			cursor: pointer;
			.next {
				height: 70px;
			}
		}
		.react:hover {
			color: rgba(96, 218, 251, 100%);
		}
		.html5:hover {
			color: rgba(229, 90, 35, 100%);
		}
		.js:hover {
			color: rgba(247, 223, 31, 100%);
		}
		.css3:hover {
			color: rgba(37, 76, 228, 100%);
		}
		.node:hover {
			color: rgba(89, 150, 86, 100%);
		}
		.github:hover {
			color: #6a2b86;
		}
		.figma:hover {
			color: #f96e60;
		}
		.sass:hover {
			color: #aa4274;
		}
		.npm:hover {
			color: #b63e33;
		}
		.gulp:hover {
			color: #be4840;
		}
		.sketch:hover {
			color: #fdad00;
		}
		.wordpress:hover {
			color: #35688e;
		}
		.postman:hover {
			color: #df6734;
		}
		.material:hover {
			color: #174ea6;
		}
		.styled:hover {
			color: #bb689e;
		}
	}
}

@media only screen and (max-width: 890px) {
	.experience {
		@include flexContainer(column, center, center);
		width: 100%;
		align-self: center;
		padding: 0 1rem;
		margin-bottom: 30px;
		h2 {
			padding-bottom: 1rem;
			margin-bottom: 0;
			text-align: center;
		}
		margin: 40px auto;
		.experience__summary {
			@include flexContainer(column, center, center);
			width: 90%;
			text-align: start;
			p {
				text-align: center;
			}
			.experience__company {
				margin: 1rem auto;
				@include flexContainer(column, center, center);
			}
		}
		.experience__skills {
			align-self: center;
			width: 90%;
			flex-wrap: wrap;
			margin-bottom: 30px;
			.experience__skillsGridContainer {
				justify-content: space-evenly;
			}
			.fab {
				font-size: 60px;
				padding: 20px;
				transition: color 0.4s ease-in-out;
			}
		}
	}
}
