@import "../styles/settings";

.footer {
	text-align: center;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.906);
	svg {
		margin: 10px 10px 20px;
		font-size: 35px;
		color: $white;
		opacity: 0.8;
		cursor: pointer;
	}
	.icons {
		display: inline-block;
	}
	.footer__details {
		@include flexContainer(column, center, center);
		h2 {
			margin-top: 20px;
			color: $white;
			padding: 0 0 10px;
		}
		p {
			color: $white;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
				Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		}
	}
}
