@import "../styles/settings";

.header {
	@include flexContainer(column, center, center);
	width: 100%;
	height: 600px;
	padding: 80px 0;
	// background-image: url(../public/img/Banner-Hires.jpg);
	position: relative;
	background-size: cover;
	background-position: bottom center;
	.hero__overlay {
		width: 100%;
		height: 600px;
		background: #000000;
		opacity: 0.4;
		position: absolute;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		pointer-events: none;
		z-index: 3;
	}
	span {
		background: #caa;
	}
	img {
		object-fit: cover;
		object-position: center;
		opacity: 0.5;
	}
	.hero__headline {
		@include button;
		position: relative;
		z-index: 20;
		h1 {
			font-size: 4rem;
			font-weight: 400;
			color: $white;
			margin-bottom: 1rem;
		}
		span {
			font-size: 2rem;
			color: $white;
			font-family: $font-family-poppins;
			background: none;
		}
		a {
			position: absolute;
			bottom: -80px;
			left: 0;
		}
		p {
			font-family: "Poppins", sans-serif;
		}
	}
}

@media only screen and (max-width: 750px) {
	.header {
		padding: 0 1rem;
		.main-banner__headline {
			@include flexContainer(column, center, center);
			text-align: center;
			.main-banner__headline--contact-btn {
				position: unset;
				margin-top: 40px;
			}
		}
	}
}
