@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Zilla+Slab:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--magic-number: 0.07719; /* tan(11°)/2 */
	--magic-number2: 0.09719; /* tan(11°)/2 */
	--content-width: 100vw;
	--skew-padding: calc(var(--content-width) * var(--magic-number));
	--skew-padding2: calc(var(--content-width) * var(--magic-number2));
	scroll-behavior: smooth;
}
html {
	background: #fdfffc;
}
h1,
h2,
h3,
h4,
p,
li {
	color: #2f2d2e;
}

.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

.diagonal-box {
	background: #f7f3e3;
	transform: skewY(8deg);
	position: relative;
}
.content {
	transform: skewY(-8deg);
}
.diagonal-box:before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #f7f3e3;
	transform: skewY(-8deg);
}

.content {
	position: relative;
	padding-top: var(--skew-padding);
	padding-bottom: var(--skew-padding2);
}
