@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "settings";
@import "nav";

* {
	box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
* {
	box-sizing: border-box;
}
li {
	list-style: none;
}
h2 {
	font-size: 1.5rem;
	font-weight: 400;
	opacity: 0.85;
}
h3 {
	font-size: 1.3rem;
	font-weight: 400;
	opacity: 0.85;
}
p {
	font-family: "Zilla Slab", serif;
	line-height: 1.4;
}
button {
	cursor: pointer;
}

//What I Do======================
.what-i-do {
	background: $color-bg;
	margin-top: 50px;
	text-align: center;

	h2 {
		margin-bottom: 30px;
		padding-top: 40px;
	}
	.what-i-do__container {
		max-width: $max-width-wide;
		@include push--auto;
		@include flexContainer(row, space-around, center)
			.what-i-do__container--sections-container {
			max-width: 300px;
			h3 {
				padding: 15px 0 10px;
			}
			p {
				padding-bottom: 40px;
			}
		}
	}
}
@media only screen and (max-width: 750px) {
	.what-i-do {
		@include flexContainer(column, center, center);
		h2 {
			margin-bottom: 0;
			padding-bottom: 20px;
		}
		.what-i-do__container {
			@include flexContainer(column, center, center)
				.what-i-do__container--sections-container {
				h3 {
					padding: 10px;
				}
				p {
					padding-bottom: 30px;
				}
			}
		}
	}
}
//Resume=========================
.resume {
	@include flexContainer(column, center, center);
	width: 100%;
	height: 400px;
	margin-bottom: 50px;
	background-image: url(../img/Resume2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	.resume__overlay {
		width: 100%;
		height: 400px;
		background: #000000;
		opacity: 0.5;
		position: absolute;
	}
	.resume__headline {
		@include flexContainer(column, center, center);
		@include button;
		z-index: 5;

		h2 {
			color: $white;
			font-size: 2rem;
			padding-bottom: 30px;
			z-index: 5;
		}
	}
}

// Footer===========================
footer {
	text-align: center;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.906);
	i {
		margin: 20px 10px 20px;
		font-size: 40px;
		color: $white;
		opacity: 0.8;
	}
	.footer__details {
		@include flexContainer(column, center, center) h3 {
			margin-top: 20px;
			color: $white;
			padding: 0 0 10px;
		}
		h4 {
			color: $white;
		}
	}
}
#overlay,
.overlay {
	position: fixed;
	top: 0;
	opacity: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(6px);
	z-index: 40;
	pointer-events: none;
	&.active {
		opacity: 0.7;
		pointer-events: all;
	}
}
